﻿@{
    ViewBag.Title = "Outbreak Watch";
}

<div class="container" ng-controller="MapCtrl">
    <div class="jumbotron">
        <div class="jumbotron-body">
            <h1>Outbreak Watch</h1>
            <p>By <a target="_blank" href="//synergetics.com">Synergetics Inc.</a> An agile software development company. The data visualization below combines drug, device, and food enforcement report frequency. Enter a search term to see it change.</p>
            @*<ul id="introlist">
                <li><span class="glyphicon glyphicon-phone"></span> Mobile, Tablet, and Desktop Friendly</li>
                <li><span class="glyphicon glyphicon-user"></span> User Researched</li>
                <li><span class="glyphicon glyphicon-filter"></span> Open Source: ASP.NET 5.0, RestSharp, AngularJS, DataMaps, D3, TopoJson</li>
                <li><span class="glyphicon glyphicon-star"></span> Test Driven, Data Driven, Depencency Injected, Asyncronous Architecture</li>
                <li><span class="glyphicon glyphicon-repeat"></span> Agile, Iterative, and U.S. DIgital Services Playbook Guided</li>
            </ul>*@
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            
                <h4 class=" col-lg-4">OpenFDA Enforcement Reports - USA</h4>
            <div class="row">
                <!-- /.col-lg-6 -->

                <div class="input-group col-md-4">
                    <input type="text" tabindex="1" ng-keyup="$event.keyCode == 13 && doSearch()" class="form-control" ng-model="search" placeholder="Peanuts, Ice Cream, Salmonella">

                    <span class="input-group-btn">
                        <intput typeof="submit" tabindex="2" ng-keyup="$event.keyCode == 13 && doSearch()" class="btn btn-default" ng-click="doSearch()" type="button">Go!</intput>
                    </span>
                </div><!-- /.col-lg-6 -->


                <div class="col-lg-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="btn btn-default" tabindex="2" ng-change="doSearch()" ng-model="seeFoods"> Foods
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" tabindex="3" ng-change="doSearch()" ng-model="seeDrugs"> Drugs
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" tabindex="4" ng-change="doSearch()" ng-model="seeDevices"> Devices
                    </label>
                </div>


            </div>
        </div>

        <div class="panel-body">
            <datamap ng-init="doSearch()" map="map"
                     plugins="plugins"
                     zoomable="true">
            </datamap>
        </div>
     
    </div>


</div>

@section scripts
{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/lib/topojson/topojson.js"></script>
    <script src="~/lib/datamaps/datamaps.all.min.js"></script>
    <script src="~/lib/angular-datamaps/angular-datamaps.min.js"></script>
    <script src="~/controllers/MapCtrl.js"></script>
}